name: Publish

on:
  push:
    tags:
      - v*

permissions:
  id-token: write

jobs:
  Publish:
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: "--no-experimental-detect-module --no-experimental-require-module --openssl-legacy-provider"

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "20"
          registry-url: "https://registry.npmjs.org"

      - name: Install and build
        run: |
          yarn install --frozen-lockfile
          yarn build

      - name: Configure GitHub Pages
        uses: actions/configure-pages@v5

      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: "docs/dist/"

      - name: Deploy to GitHub Pages
        id: deploy
        uses: actions/deploy-pages@v4

      - name: Setup Node.js for publishing on GitHub Packages
        uses: actions/setup-node@v6
        with:
          node-version: "20"
          registry-url: "https://npm.pkg.github.com"

      - name: Publish on GitHub Packages
        run: yarn publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
